<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org" lang="ru">
<head>
  <meta charset="UTF-8">
  <title>Region Management System</title>
  <link rel="stylesheet"
        href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css"
        integrity="sha384-Gn5384xqQ1aoWXA+058RXPxPg6fy4IWvTNh0E263XmFcJlSAwiGgFAW/dAiS6JXm"
        crossorigin="anonymous">
  <style>
    .btn-sm {
      padding: .25rem .5rem;
      font-size: 1rem;
      line-height: 1.5;
      border-radius: .2rem;
    }
  </style>
</head>
<body>
<nav class="navbar navbar-expand-md bg-dark navbar-dark">
  <!-- Brand -->
  <a class="navbar-brand" href="#">Region Management System</a>

  <!-- Toggler/collapsible Button -->
  <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#collapsibleNavbar">
    <span class="navbar-toggler-icon"></span>
  </button>

  <!-- Navbar links -->
  <div class="collapse navbar-collapse" id="collapsibleNavbar">
    <ul class="navbar-nav">
      <li class="nav-item">
        <a class="nav-link" th:href="@{/api/v2/region/regions}">Region Management</a>
      </li>
      <li class="nav-item">
        <a class="nav-link" th:href="@{/api/v1/weather/towns}">Town Management</a>
      </li>
    </ul>
  </div>
</nav>

<div class="container">
  <div class="row">
    <h1>List Regions</h1>
  </div>

  <div class="col-lg-3">
    <a th:href="@{/api/v2/region/saveRegion}" class="btn btn-primary btn-sm mb-3">Add Region</a>
  </div>

</div>

<!-- Центрированная таблица -->
<div class="container">
  <table class="table table-striped table-bordered mx-auto" style="width: 70%;">
    <thead class="table-dark">
    <tr>
      <th style="width: 70%;" class="text-center">Region Name</th>
      <th style="width: 40%;" class="text-center">Actions</th>
    </tr>
    </thead>

    <tbody>
    <tr th:each="region : ${regions}">
      <td th:text="${region.name}" style="width: 70%;" class="text-center"></td>
      <td style="width: 40%;" class="text-center">
        <a th:href="@{/api/v2/region/region/edit/{name}(name=${region.name})}" class="btn btn-primary btn-sm d-inline-block">Update</a>
        <a th:href="@{/api/v2/region/region/delete/{name}(name=${region.name})}" class="btn btn-danger btn-sm d-inline-block">Delete</a>
      </td>
    </tr>
    </tbody>
  </table>
</div>

</body>
</html>
